html, body
  margin: 0
  padding: 0

h1
  color: white
  background-color: navy
  margin: 0
  padding: 10px
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300

#map
  display: block
  width: 100%
  height: 100vh

i.fa.fa-location-arrow
  background-color: white
  color: #333333
  font-size: 20px
  padding: 5px
  border: 2px solid rgba(0,0,0,.2)
  border-radius: 4px
  position: absolute
  left: 0
  top: 65px
  margin: 10px 0 0 10px
  z-index: 999
  cursor: pointer
