<h1>US State Capitals</h1>

<div id='map'>
  <i id="geolocate" class="fa fa-location-arrow fa-2x"></i>
  <script charset="utf-8">
    var map_key ='<%= ENV["MAPBOX_ACCESS_TOKEN"] %>';
  </script>
</div>
